{% extends 'base.html' %}
{% block content %}
  {{ title2 }}
  <h2>Estoy en proveedores</h2>

  <h3>Lista de Proveedores</h3>
  <ul>
    <li>
      <strong>Proveedor:</strong> Juan Ramirez<br>
      <strong>Marca:</strong> La Favorita<br>
      <strong>Precio:</strong> $100<br>
      <strong>Cantidad:</strong> 50
    </li>
    <br>
    <li>
      <strong>Proveedor:</strong> Steven Zamora<br>
      <strong>Marca:</strong> Pronacca<br>
      <strong>Precio:</strong> $150<br>
      <strong>Cantidad:</strong> 30
    </li>
    <br>
    <li>
      <strong>Proveedor:</strong> Maria Perez<br>
      <strong>Marca:</strong> Nestlé<br>
      <strong>Precio:</strong> $120<br>
      <strong>Cantidad:</strong> 40
    </li>
    <br>
    <li>
      <strong>Proveedor:</strong> Carlos Gutierrez<br>
      <strong>Marca:</strong> Coca-Cola<br>
      <strong>Precio:</strong> $90<br>
      <strong>Cantidad:</strong> 60
    </li>
    <br>
    <li>
      <strong>Proveedor:</strong> Ana Martinez<br>
      <strong>Marca:</strong> Apple<br>
      <strong>Precio:</strong> $800<br>
      <strong>Cantidad:</strong> 20
    </li>
    <br>
    <li>
      <strong>Proveedor:</strong> Luis Hernandez<br>
      <strong>Marca:</strong> Adidas<br>
      <strong>Precio:</strong> $80<br>
      <strong>Cantidad:</strong> 70
    </li>
    <br>
    <li>
      <strong>Proveedor:</strong> Laura Gomez<br>
      <strong>Marca:</strong> McDonald's<br>
      <strong>Precio:</strong> $200<br>
      <strong>Cantidad:</strong> 25
    </li>
  </ul>
{% endblock content %}
